@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

@layer base {
  html {
    @apply font-sans;
  }

  *:focus-visible {
    @apply outline outline-2 outline-offset-2 outline-slate-900;
  }
}
